.App {
  text-align: center;
}

body {
  background-image: url(images/background.png);
  color: white;
}

header {
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
  border-color: white;
}
.div0 {
  text-align: center;
}

.div2 {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  gap: 1em;
  display:inline-block;
}
.div4 {
  text-align: center;
  border: 2px solid white;
  width: 15%;
  display: inline-block;
  border-radius: 10px;
}

.div3 {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  gap: 1em;}

h2 {
  text-align: center;
  border: 2px solid white;
  width: 35%;
  display: inline-block;
  border-radius: 25px;
}

img {
  width: 220px;
}
